<h2>Lista Areas</h2>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre Area</th>
      <th>Direccion</th>
      <th>Fecha Creacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let area of areas">
      <td>{{ area.id }}</td>
      <td>{{ area.nombreArea }}</td>
      <td>{{ area.direccion }}</td>
      <td>{{ area.createdAt }}</td>
    </tr>
  </tbody>
  </table>