<h1>{{ title }}</h1>
<nav>
    
    <a routerLink="/activosfijos">Activos Fijos</a>
    <a routerLink="/personas">Personas</a>
    <a routerLink="/areas">Areas</a>

</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>