<h2>Lista Activos Fijos</h2>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Serial</th>
      <th># Interno Inv</th>
      <th>Peso</th>
      <th>Alto</th>
      <th>Ancho</th>
      <th>Largo</th>
      <th>Valor Compra</th>
      <th>Fecha Compra</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activo of activos">
      <td>{{ activo.id }}</td>
      <td>{{ activo.nombre }}</td>
      <td>{{ activo.descripcion }}</td>
      <td>{{ activo.serial }}</td>
      <td>{{ activo.numeroInternoInventario }}</td>
      <td>{{ activo.peso }}</td>
      <td>{{ activo.alto }}</td>
      <td>{{ activo.ancho }}</td>
      <td>{{ activo.largo }}</td>
      <td>{{ activo.valorCompra }}</td>
      <td>{{ activo.fechaCompra }}</td>
      <td>{{ activo.color }}</td>
    </tr>
  </tbody>
  </table>