<h2>Lista Personas</h2>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Id</th>
      <th># Identificacion</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Telefono o Celular</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{ persona.id }}</td>
      <td>{{ persona.numeroIdentificacion }}</td>
      <td>{{ persona.nombres }}</td>
      <td>{{ persona.apellidos }}</td>
      <td>{{ persona.telefonoCelular }}
    </tr>
  </tbody>
  </table>